<div id="detalhes-estabelecimentos" class="card">
    <div class="row">
        <app-botao-voltar></app-botao-voltar>
        <app-logo-estabelecimento [urlLogo]=estabelecimento.picture></app-logo-estabelecimento>
        <div class="column" id="info-estabelecimento">
            {{ estabelecimento.name }}
            <span >ID: {{ estabelecimento.id }}</span>
        </div>
    </div>
    <div class="row">
        <form [formGroup]="estabelecimentoForm" (ngSubmit)="salvarInformacoesEstabelecimento()">
            <section id="secao-informacoes-basicas">
                <app-titulo-secao>Informações Básicas</app-titulo-secao>
                <div id="informacoes-basicas" class="inputs-secao">
                    <div class="column">
                        <label>Nome</label>
                        <input type="text" formControlName="name" name="name" />
                    </div>
                    <div class="column">
                        <label>Cidade</label>
                        <input type="text" formControlName="cidade" name="cidade" />
                    </div>
                    <div class="column">
                        <label>Endereço</label>
                        <input type="text" formControlName="address" name="address" />
                    </div>
                </div>
            </section>
            <section id="secao-informacoes-basicas">
                <app-titulo-secao>Financeiro</app-titulo-secao>
                <div id="financeiro" class="inputs-secao">
                    <div class="column">
                        <label>Banco</label>
                        <select type="text" formControlName="banco" name="banco">
                            <option value="bancoBrasil">Banco do Brasil</option>
                            <option value="santander">Santander</option>
                            <option value="nubank">Nubank</option>
                        </select>
                    </div>
                    <div class="column">
                        <label>Tipo de conta</label>
                        <select type="text" formControlName="tipoConta" name="tipoConta">
                            <option value="contaCorrente">Conta corrente</option>
                            <option value="poupanca">Poupança</option>
                        </select>
                    </div>
                    <div class="column">
                        <label>CPF / CNPJ</label>
                        <input type="text" formControlName="cpfCnpj" name="cpfCnpj" appCpfCnpj />
                    </div>
                    <div class="column">
                        <label>Agência</label>
                        <div class="row">
                            <input type="text" formControlName="agencia" name="agencia" maxlength="6" minlength="4" />
                            <input type="text" formControlName="agenciaDv" name="agenciaDv" maxlength="1" />
                        </div>
                    </div>
                    <div class="column">
                        <label>Conta</label>
                        <div class="row">
                            <input type="text" formControlName="conta" name="conta" maxlength="8" minlength="4" />
                            <input type="text" formControlName="contaDv" name="contaDv" maxlength="1" />
                        </div>
                    </div>
                    <div class="column">
                        <label>Saque automático?</label>
                        <select type="text" formControlName="saqueAutomatico" name="saqueAutomatico">
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                        </select>
                    </div>
                </div>
            </section>
            <button type="submit">Salvar</button>
        </form>
    </div>
</div>