:host{
    width: 100%;
}

#card-estabelecimento {
    padding: .3em;
}

a {
    text-decoration: none;
}

#area-info {
    padding: 0em 1.5em;
    justify-content: space-around;
}

#estabelecimento {
    font-weight: 600;
    font-size: larger;
    color: #4C5164;
}

#estabelecimento span {
    margin-left: 1em;
    font-size: small;
}

#estabelecimento span,
#endereco {
    color: #81879C;
}

.separador {
    display: inline-block;
    border-left: 2px solid #D3D5E0;
    height: 10px;
    border-radius: 5px;
    margin: 0 .7em;
}

#endereco #cidade {
    font-weight: 600;
}

