<a routerLink="detalhes-estabelecimentos">
    <div id="card-estabelecimento" class="card">
        <div class="row">
            <app-logo-estabelecimento></app-logo-estabelecimento>
            <div class="column" id="area-info">
                <div id="estabelecimento">
                    Subway<span>14131</span>
                </div>
                <div id="endereco">
                    <span id="cidade">Curitiba</span><span class="separador"></span>R. Reinaldino Schaffenberg de Quadros, 1760 - Alto da XV
                </div>
            </div>
        </div>
    </div>
</a>
