<div id="card-estabelecimento">
    <div class="row">
        <div id="area-logo">
            <img src="http://placehold.it/32x32" alt="logo-estabelecimento" />
        </div>
        <div class="column" id="area-info">
            <div id="estabelecimento">
                Subway<span>14131</span>
            </div>
            <div id="endereco">
                <span id="cidade">Curitiba</span><span class="separador"></span>R. Reinaldino Schaffenberg de Quadros, 1760 - Alto da XV
            </div>
        </div>
    </div>
</div>
