:host{
    width: 100%;
}

#card-estabelecimento {
    padding: .3em;
}

a {
    text-decoration: none;
}

a:hover #card-estabelecimento {
    cursor: pointer;
    box-shadow: 1px 1px 5px 2px #D3D5E0;
    transition: 0.2s ease-in-out;
}

#area-info {
    padding: 0em 1.5em;
    justify-content: space-around;
}

#estabelecimento {
    font-weight: 600;
    font-size: large;
    color: #4C5164;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#estabelecimento span {
    margin-left: 1em;
    font-size: small;
}

#estabelecimento span,
#endereco {
    color: #81879C;
}

.separador {
    display: inline-block;
    border-left: 2px solid #D3D5E0;
    height: 10px;
    border-radius: 5px;
    margin: 0 .7em;
}

#endereco #cidade {
    font-weight: 600;
}

